.nav {
  display: flex;
  justify-content: space-between;
  width: 420px;
  align-items: center;

  &__item {
    color: $font-color-primary;
    font-size: $font-size-nav;
    text-decoration: none;
    position: relative;
    &:hover {
      color: $color-secondary;
      animation: toTop;
      animation-duration: 1s;
    }
  }

  @media (max-width: 710px) {
    padding-right: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
