@import url('tabelas.css');
* {
  box-sizing: border-box;
}

html {
	margin: 0;
    padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	}

body {
	height: 100vh;
	background: white;
	overflow: overlay;
	padding: 0;
}

header {
	background-color: #2B008C;
	border: black solid 0.2rem; /*1px*/
	padding: 2rem; /*30px*/
	text-align: left;
	color: white;
  }
  
  header h1 {
	  font-size: 3.5rem; /*35px*/
	  font-weight: 600;
	  font-family: "Fira Sans"-sans-serif;
	  line-height: 4rem; /*40px*/
  }
  
  header h2 {
	  font-size: 2.5rem; /*25px*/
	  font-weight: 300;
	  font-family: "Fira Sans"-sans-serif;
	  line-height: 3rem; /*30px*/
  }

  section {
	height: 100vh;
	}

	.papel-parede {
		background-image: url('../images/papel_parede.jpg');
		background-size: auto;
	}

  nav {
	width: 15%;
	float:left;
	display: table;
	height: 100%;
	box-sizing: border-box;
 }

 #menu-01 {
    background-color: rgb(255, 97, 15);
	border: 0.1rem solid rgb(87, 87, 87);
    width: 17.2rem; /*170px*/
    height: 4.7rem; /*50px*/
    overflow: hidden;
	border-radius: 3%;
	margin-left: 5rem; /*51px*/
	margin-top: 4rem; /*40px*/
	box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #888888;
 }

 #menu-01 h2 {
	 font-size: 1.8rem; /*18px*/
	 text-align: center; 
	 margin-top: 1.3rem; /*13.3px*/
 }

 #itens-01 {
    background-color: rgb(255, 201, 176);
    width: 17.2rem; /*170px*/
    height: 4.7rem; /*50px*/
    overflow: hidden;
	border-radius: 3%;
	margin-left: 5rem; /*51px*/
	margin-top: 0.6rem; /*3px*/
 }

 #itens-01:hover {
	background-color: white;
}

 #itens-01 h2, a {
	font-size: 1.8rem; /*18px*/
	text-align: left;
	margin-top: 1.5rem; /*14px*/
	margin-left: 0.7rem; /*3px*/
	text-decoration: none;
	color: black
}

   article {
	float: left;
	display: table;
	width: 85%;
	height: 100%;
    box-sizing: border-box;
  }

  form {
	background: #FFE7D8;
	padding: 5px; /*5px*/
	margin-top: 2.5rem; /*20px*/
	margin-left: 2rem; /*20px*/
	width: 90%;
	}

	form div {
	background: #fff;
	border-left: 0.2rem solid #8A66C4; /*2px*/
	border-right: 0rem solid white; /*1px*/
	margin: 1.2rem -0.4rem 1.2rem 1.2rem;
	padding: 1.5rem;
	}

	form div:hover {
		background-color: #E5DCF2;
	}	

	label {
	margin-bottom: 1rem;
	font-size: 1.5rem; /*15px*/
	font-family: sans-serif;
	font-weight: bold;
	color: #000;
	}

	input {
	padding: 1rem;
	}

	.box-botao:hover {
		background-image:  url('../images/frase.png');
		background-size: cover;
		background-position: center;
	}

   .botao {
		background-color:#878787;
		width: 15rem; /*150px*/
		font-weight: bold;
		text-transform: uppercase;
	}

	.botao:hover {
		background-color: #4F17A8;
	}

	[type="text"], [type="email"], textarea, label {
	display: block;
	width: 100%;
	}

  .table-container {
	padding-left: .5rem;
	margin-left: 2rem; /*20px*/
	margin-top: 4rem; /*20px*/
	border: 0.16rem #8A66C4; /*1.5px*/
	border-style: solid;
	width: 90%;
}

  	article h2 {
		font-size: 2rem; /*20px*/
		margin-top: 4rem; /*40px*/
		margin-left: 2rem; /*20px*/
		border-bottom: 0.1rem solid black; /*1.5px*/
  }

  .orientacao {
	font-size: 1.6rem; /*16px*/
	margin-left: 2.0rem; /*20px*/
	margin-top: 2rem; /*20px*/
  }

    article h3 {
		font-size: 1.1rem; /*11px*/
		font-weight: normal;
  }

   .apresentacao-pessoal {
	display: inline-block;
	width: 100vh;
  }

  #perfil {
    width: 16rem; /*160px*/
    height: 16rem; /*160px*/
    overflow: hidden; /*1px*/
	margin-left: 2rem; /*20px*/
	margin-top: 3rem; /*30px*/
 }

 #perfil img {
    width: 100%;
    height: auto;
	border-radius: 5%;
}

#certificacoes {
	width: 35rem; /*350px*/
	height: 16rem; /*160px*/
	overflow: hidden;
	margin-top: 3rem; /*30px*/
	margin-left: 0.2rem; /*1px*/
}

#certificacoes ul{
	list-style-type: none;
	font-size: 1.7rem; /*17px*/
	line-height: 2.5rem; /*25px*/
	width: 100%; 
	margin-left: 1.5rem; /*15px*/
	margin-top: 0.7rem; /*7px*/
	color: black;
	}

#texto {
    width: 100vh;
    overflow: hidden;
	margin-top: 4rem; /*40px*/
	margin-left: 2rem; /*20px*/
	font-size: 1.6rem; /*16px*/
	text-align: justify;
	line-height: 2.2rem; /*22px*/
}

  footer {
	background-color: #2B008C;
	border: #000 solid 0.1rem;
	text-align: right;
	line-height: 4rem;
  }
  
  footer p {
	  color: white;
	  font-size: 1.8rem; /*18px*/
	  margin-right: 2.5rem; /*25px*/
  }

  @media (max-width: 768px) {
	nav {
		width: 30vh;
		height: auto;
	}
	article {
	  width: 70vh;
	  height: auto;
	}

	footer {
		width: 100%;
		height: auto;
	}
}

  @media (max-width: 425px) {
	nav, article {
	  width: 100%;
	  height: auto;
	}
}

