@font-face {
  font-family: 'antipasto';
  src: url('../assets/fonts/antipasto-pro-regular-trial-webfont.woff2')
      format('woff2'),
    url('../assets/fonts/antipasto-pro-regular-trial-webfont.woff')
      format('woff'),
    url('../assets/fonts/Antipasto-Pro-Regular-trial.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
